name: "Start"

on:
  push:
    branches:
    - 'master'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  version_checker:
    runs-on: 'ubuntu-latest'
    steps:

    - name: .github/workflows/version_checker.yml
      uses: aurelien-baudet/workflow-dispatch@v2
      with:
        workflow: Version Checker
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Get Version
      id: version
      uses: battila7/get-version-action@v2

    - name: .github/workflows/publish.yml
      if: ${{ steps.version.outputs.version-without-v != 'master'}}
      uses: aurelien-baudet/workflow-dispatch@v2
      with:
        workflow: Publish
        token: ${{ secrets.GITHUB_TOKEN }}